# Azure Postgres Database
# Use connection string format (recommended for Azure)
# use sslmode=verify-full
DATABASE_URL=postgresql://username:password@hostname.postgres.database.azure.com:5432/database_name?sslmode=verify-full
