# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

**/node_modules
.next
.git
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.env
README.md
.gitignore
Dockerfile
.dockerignore 